main {
  background-color: #eff9ee;
  display: flex;
  align-items: center;
  gap: 5%;
}

.navBar {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.AdminTable-Container {
  margin-top: 10vh;
  margin-right: 50vh;
}

.tabela {
  height: 600px;
  width: 100%;
  max-width: 1300px;
  overflow: scroll;
  border-radius: 30px;
  box-shadow: 0px 5px 15px rgba(0, 0, 13, 0.15);
  background-color: #fff;
}

.tabela::-webkit-scrollbar {
  display: none;
}

.inputAdmin {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.button-modal {
  cursor: pointer;

  background-color: #9ae6b4;
  box-shadow: 0px 5px 15px rgba(0, 0, 13, 0.15);
  padding: 8px 30px;
  border-radius: 50px;

  display: flex;
  justify-content: center;
  align-items: center;
}

.button-modal > label {
  cursor: pointer;
}

.Modal-input {
  outline: none;
  padding-left: 10px;

  color: #286955;

  border:none;
  background-image:none;
  background-color:transparent;
  box-shadow: none;  
}

.Modal-input-container {
  display: flex;
  background: #F7FAFC;
  border-radius: 50px;

  padding: 10px 5px 10px 30px;

  margin: 10px;

  box-shadow: 0px 5px 15px rgba(0, 0, 13, 0.15);
}
